<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Required for Android 13+ (API 33) to show foreground service notification -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Required for Android 14+ (API 34) for foreground services -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
</manifest>
